.ErrorOccur {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.ErrorOccur .ErrorOccurImg {
  width: 80px;
  height: 80px;
}

.ErrorOccur .errorOccurContent {
  display: flex;
  flex-direction: column;
}

.ErrorOccur .errorOccurTitle {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 5px;
}

.ErrorOccur .errorOccurText {
  font-size: 16px;
}
