.PageNotFound {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.PageNotFound .pageNotFoundImg {
  width: 80px;
  height: 80px;
}

.PageNotFound .pageNotFoundContent {
  display: flex;
  flex-direction: column;
}

.PageNotFound .pageNotFoundTitle {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 5px;
}

.PageNotFound .pageNotFoundText {
  font-size: 16px;
}
