.footer {
  height: 200px;
  color: #787a86;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 70px;
  background-color: #f9f9f9;
  align-items: center;
}

.footer__content {
  width: 100%;
  max-width: 1000px;
}
