.my-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
}

.my-history__title {
  width: 100%;
  font-size: 23px;
  font-weight: 600;
  text-align: left;
}

.my-history__DonationHistoryBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}