.my-history-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
}

.my-history-detail__title {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    font-size: 23px;
}

.my-history-detail__title--main {
  font-weight: 600;
  text-align: left;
  color: black;
  text-decoration: underline solid black;
}
.my-history-detail__title--sign{
    color: #878787;
    margin-top: auto;
}
.my-history-detail__title--historyId {
    color: #878787;
    cursor: pointer;
    margin-top: auto;
}

.my-history-detail__DonationTransactionBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}