.my-interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 40px;
}

.my-interest__title {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 23px;
  font-weight: 600;
}

.my-interest__beneficiaryLists {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.my-interest__noBeneficiary {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 90px;
}
.my-interest__noBeneficiary--message {
  font-size: 16px;
  padding-top: 90px;
}

.my-interest__noBeneficiary--button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
}