.MyInterest .title {
  font-size: 23px;
  font-weight: 600;
  padding: 50px 0px;
}

.MyInterest {
  display: flex;
  flex-direction: column;
}

.MyInterest .beneficiaryLists {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.MyInterest .beneficiaryLists .BeneficiaryBox {
  width: 450px;
}
