.MyInterest {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  align-items: center;
}

.MyInterest .title {
  font-size: 23px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 100%;
  text-align: left;
}

.MyInterest .beneficiaryLists {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
