.my-status {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  align-items: center;
}

.my-status__title {
  font-size: 23px;
  font-weight: 600;
  padding: 50px 0;
  width: 100%;
  text-align: left;
}
