.MyStatus .title {
  font-size: 23px;
  font-weight: 600;
  padding: 50px 0px;
  width: 100%;
  text-align: left;
}

.MyStatus {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  align-items: center;
}
