.BeneficiaryBox {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 15px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background-color: white;
}

.BeneficiaryBox .profileImage {
  width: 50px;
  height: 50px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.BeneficiaryBox .beneficiaryBoxText {
  flex-grow: 1;
  padding-left: 12px;
  padding-bottom: 2px;
}

.BeneficiaryBox .beneficiaryFirstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BeneficiaryBox .name {
  font-size: 16px;
}

.BeneficiaryBox .tagList {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.BeneficiaryBox .TransparentButton {
  padding: 10px;
}

.BeneficiaryBox .interestButton {
  cursor: pointer;
  padding-left: 5px;
}

.BeneficiaryBox .heartImg {
  width: 16px;
  height: 16px;
  padding-top: 5px;
}
