.BeneficiaryBox {
  display: flex;
  align-items: center;
  width: 400px;
  padding: 15px 20px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background-color: white;
}

.BeneficiaryBox .profileImage {
  width: 50px;
  height: 50px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.BeneficiaryBox .beneficiaryBoxText {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 16px;
}

.BeneficiaryBox .beneficiaryBoxText .name {
  font-size: 16px;
}

.BeneficiaryBox .beneficiaryBoxText .tagList {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.BeneficiaryBox .TransparentButton {
  padding: 10px;
}

.BeneficiaryBox .favoriteButton {
  cursor: pointer;
  align-items: center;
  padding-left: 5px;
}

.BeneficiaryBox .heartButton {
  padding-top: 3px;
  width: 16px;
  height: 16px;
}

.BeneficiaryBox .beneficiaryBoxText .beneficiaryFirstLine {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}
