.Step {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 347px;
  padding: 10px 0;
  border-bottom: 3px solid #d9d9d9;
  font-size: 18px;
}

.Step .step-number {
  font-weight: 600;
}

.Step.is-active {
  border-bottom: 3px solid #fea801;
}

.Step.is-active .step-number {
  color: #fea801;
}

.DonationStepsBar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}
