.DonationSteps {
  display: flex;
  justify-content: center;
  gap: 8px;

  width: 320px;
  padding: 10px 0;
  border-bottom: 3px solid #d9d9d9;

  font-size: 18px;
}

.DonationSteps .num {
  font-weight: 600;
}

.DonationSteps.is-active {
  border-bottom: 3px solid #fea801;
}

.DonationSteps.is-active .num {
  color: #fea801;
}

.DonationStepsBar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}
