.DonationTransactionBox {
  display: flex;
  flex-direction: column;
  width: 960px;

  padding: 15px 20px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  gap: 4px;
}

.DonationTransactionBox__date {
  color: #878787;
  font-size: 13px;
  margin-top: auto;
  margin-bottom: 1px;
}

.DonationTransactionBox__firstLine,
.DonationTransactionBox__secondLine {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.DonationTransactionBox__wallet {
    color: #3A83BE;
    cursor: pointer;
     padding: 5pt;
}

.DonationTransactionBox__wallet:hover {
    border: dotted #F6C344 1pt;
    border-radius: 7px;
    background: #FEF6E3;
    padding: 2pt;
    margin: 2pt;
}


.DonationTransactionBox__message {
    font-size: 16px;
}

.DonationTransactionBox .TransparentButton {
    padding: 0;
    color: #878787;
    margin-left: auto;
}