.MyPageMenuBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  font-size: 16px;
  width: 160px;
  height: 120px;
  padding: 20px 15px 18px 20px;
  background-color: white;
}

.MyPageMenuBox .menuName {
  margin-right: auto;
  align-self: flex-start;
}

.MyPageMenuBox .TransparentButton {
  margin-left: auto;
  align-self: flex-end;
}
