.PaymentMethod {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;

  background-color: white;
  font-size: 15px;
}

.PaymentMethod--selected {
  border: 2px solid #fea801;
}
