.TagBox {
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  min-width: 50px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  text-align: center;
}

.TagBox--selected {
  border: 2px solid #fea801;
}
