<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>회원가입 1</h1>

<form th:action="@{/donor/signup1}" method="post" th:object="${donorSignUpForm}">
    <div>
        <label>이름
            <input type="text" th:field="*{donorName}" />
        </label>

    </div>
    <div>
        <label>이메일
            <input type="email" th:field="*{donorMail}" />
        </label>

    </div>
    <div>
        <label>전화번호
            <input type="tel" th:field="*{donorPhoneNumber}" />
        </label>
    </div>

    <button type="submit">다음</button>

</form>
</body>
</html>