.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 180px;
}

.Login .title {
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 20px;
}

.Login input {
  width: 250px;
  height: 30px;
  padding: 3px 10px;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}

.Login .userAssistance {
  display: flex;
  margin-left: 100px;
}

.Login .userAssistance .divider {
  font-size: 14px;
  color: #878787;
}

.Login .separator {
  display: flex;
  align-items: center;
  width: 270px;
  margin: 18px 0;
}

.Login .separator .line {
  flex-grow: 1;
  height: 1px;
  background-color: #d9d9d9;
}

.Login .separator .text {
  margin: 0 10px;
  font-size: 13px;
  color: #808080;
}

.Login .ColoredButton {
  width: 270px;
  height: 37px;
  padding: 3px 10px;
  font-size: 15px;
  border-radius: 8px;
}

.Login .ColoredButton--white {
  margin-top: 0;
}
