.signup-step-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.signup-step-two__title {
  font-size: 23px;
  font-weight: 600;
  padding-top: 180px;
  padding-bottom: 20px;
}

.signup-step-two__input {
  width: 272px;
  height: 38px;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 3px 10px;
  box-sizing: border-box;
}
.signup-step-two__id-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.signup-step-two__id {
  width: 197px;
  height: 38px;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 3px 10px;
  box-sizing: border-box;
}

.signup-step-two__btn--duplicate {
  width: 70px;
  height: 38px;
  font-size: 12px;
  border-radius: 8px;
}

/* .signup-step-two .idForm {
  position: relative;
  width: 270px;
}

.signup-step-two .idForm input {
  width: 100%;
  padding-right: 90px;
}

.signup-step-two .duplicateCheckButton {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  padding: 0 10px;
  font-size: 12px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  color: #808080;
  height: 20px;
} */

.signup-step-two__input--invalid {
  width: 272px;
  height: 38px;
  font-size: 15px;
  border: 1px solid red;
  border-radius: 8px;
  padding: 3px 10px;
  box-sizing: border-box;
}

.signup-step-two__id--invalid {
  width: 197px;
  height: 38px;
  font-size: 15px;
  border: 1px solid red;
  border-radius: 8px;
  padding: 3px 10px;
  box-sizing: border-box;
}

.signup-step-two__message--error {
  color: red;
  font-size: 10px;
  text-align: left;
  width: 272px;
  margin-top: -8px;
}

.signup-step-two__message--default {
  color: #767676;
  font-size: 10px;
  text-align: left;
  width: 272px;
  margin-top: -8px;
}

.signup-step-two__navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.signup-step-two__btn--nav {
  width: 270px;
  height: 37px;
  font-size: 15px;
  border-radius: 8px;
  padding: 3px 10px;
}
