.SignupFirstStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.SignupFirstStep .title {
  font-size: 23px;
  font-weight: 600;
  padding-top: 180px;
  padding-bottom: 20px;
}

.SignupFirstStep input {
  width: 272px;
  height: 38px;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 3px 10px;
  box-sizing: border-box;
}

.SignupFirstStep .ColoredButton {
  width: 270px;
  height: 37px;
  font-size: 15px;
  border-radius: 8px;
  padding: 3px 10px;
  margin-top: 12px;
}

.SignupFirstStep .ColoredButton_White {
  margin-top: 0;
}

.SignupFirstStep .separator {
  display: flex;
  align-items: center;
  width: 270px;
  margin: 18px 0;
}

.SignupFirstStep .separator .line {
  flex-grow: 1;
  height: 1px;
  background-color: #d9d9d9;
}

.SignupFirstStep .separator .text {
  margin: 0 10px;
  font-size: 13px;
  color: #808080;
}

/* inputInvalid 클래스가 적용된 입력 필드의 스타일 */
.SignupFirstStep input.inputInvalid {
  border: 1px solid red; /* 테두리 빨간색 */
}

/* inputInvalid 클래스가 적용된 오류 메시지 스타일 */
.SignupFirstStep .errorMessage {
  color: red; /* 글씨 빨간색 */
  font-size: 12px; /* 글씨 크기 */
  text-align: left; /* 왼쪽 정렬 */
  width: 272px; /* 입력 필드와 동일한 너비 */
  margin-top: -8px; /* 입력 필드와 간격 조정 */
}
