.SignupSecondStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.SignupSecondStep .title {
  font-size: 23px;
  font-weight: 600;
  padding-top: 180px;
  padding-bottom: 20px;
}

.SignupSecondStep input {
  width: 272px;
  height: 38px;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 3px 10px;
  box-sizing: border-box;
}

/* .SignupSecondStep .idForm {
  position: relative;
  width: 270px;
}

.SignupSecondStep .idForm input {
  width: 100%;
  padding-right: 90px;
}

.SignupSecondStep .duplicateCheckButton {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  padding: 0 10px;
  font-size: 12px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  color: #808080;
  height: 20px;
} */

.SignupSecondStep .pageNavigationButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.SignupSecondStep .pageNavigationButtons .ColoredButton {
  width: 270px;
  height: 37px;
  font-size: 15px;
  border-radius: 8px;
  padding: 3px 10px;
}

/* inputInvalid 클래스가 적용된 입력 필드의 스타일 */
.SignupSecondStep input.inputInvalid {
  border: 1px solid red; /* 테두리 빨간색 */
}

/* inputInvalid 클래스가 적용된 오류 메시지 스타일 */
.SignupSecondStep .errorMessage {
  color: red; /* 글씨 빨간색 */
  font-size: 12px; /* 글씨 크기 */
  text-align: left; /* 왼쪽 정렬 */
  width: 272px; /* 입력 필드와 동일한 너비 */
  margin-top: -8px; /* 입력 필드와 간격 조정 */
}

.SignupSecondStep .defaultMessage {
  color: #767676;
  font-size: 12px; /* 글씨 크기 */
  text-align: left; /* 왼쪽 정렬 */
  width: 272px; /* 입력 필드와 동일한 너비 */
  margin-top: -8px; /* 입력 필드와 간격 조정 */
}
