.SignupFirstStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.SignupFirstStep .title {
  font-size: 23px;
  font-weight: 600;
  padding-top: 180px;
  padding-bottom: 20px;
}

.SignupFirstStep input {
  width: 272px;
  height: 38px;
  font-size: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 3px 10px;
  box-sizing: border-box;
}

.SignupFirstStep .ColoredButton {
  width: 270px;
  height: 37px;
  font-size: 15px;
  border-radius: 8px;
  padding: 3px 10px;
  margin-top: 12px;
}
.SignupFirstStep .ColoredButton_White {
  margin-top: 0px;
}

.SignupFirstStep .separator {
  display: flex;
  align-items: center;
  width: 270px;
  margin: 18px 0px;
}

.SignupFirstStep .separator .line {
  flex-grow: 1;
  height: 1px;
  background-color: #d9d9d9;
}

.SignupFirstStep .separator .text {
  margin: 0 10px;
  font-size: 13px;
  color: #808080;
}
