.beneficiary-detail-page {
  position: relative;
}

.beneficiary-detail-page__background {
  width: 1000px;
  height: 300px;
}

.beneficiary-detail-page__profile {
  display: flex;
  align-items: center;
  padding: 30px 50px;
}

.beneficiary-detail-page__img {
  width: 80px;
  height: 80px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.beneficiary-detail-page__text {
  padding-left: 15px;
}

.beneficiary-detail-page__text--first {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.beneficiary-detail-page__name {
  font-size: 18px;
}

.beneficiary-detail-page__button--interest {
  cursor: pointer;
  align-items: center;
  padding-left: 7px;
}

.beneficiary-detail-page__heart {
  padding-top: 3px;
  width: 18px;
  height: 18px;
}

.beneficiary-detail-page__tags {
  display: flex;
  align-items: center;
  gap: 6px;
}

.beneficiary-detail-page__content {
  padding: 0 60px;
}
