.donation-payment {
  display: flex;
  flex-direction: column;
  /* padding-left: 30px;
  padding-right: 60px; */
  padding: 60px;
  align-items: flex-start;
}

.donation-payment__title {
  font-size: 23px;
  font-weight: 600;
  /* padding-top: 50px;
    padding-bottom: 10px;
  padding-left: 30px; */
  width: 100%;
  text-align: left;
}

.donation-payment__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.donation-payment__content--left {
  flex: 1;
}

/* .DonationPayment .donorInfo {
  padding: 24px 30px;
} */

.donation-payment__title--sub {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
  padding-top: 50px;
}

.donation-payment__info {
  display: flex;
  flex-direction: row;
  gap: 200px;
  font-size: 16px;
  font-weight: 400;
}

.donation-payment__info--left,
.donation-payment__info--right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.donation-payment__content--right {
  padding-top: 50px;
}

.donation-payment__method .PaymentMethod {
  margin-right: 8px;
}
