.DonationPayment {
  display: flex;
  flex-direction: column;
  /* padding-left: 30px;
  padding-right: 60px; */
  padding: 60px;
  align-items: flex-start;
}

.DonationPayment .title {
  font-size: 23px;
  font-weight: 600;
  /* padding-top: 50px;
    padding-bottom: 10px;
  padding-left: 30px; */
  width: 100%;
  text-align: left;
}

.DonationPayment .donationPaymentContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.DonationPayment .donationPaymentLeft {
  flex: 1;
}

/* .DonationPayment .donorInfo {
  padding: 24px 30px;
} */

.DonationPayment .donorInfoTitle,
.DonationPayment .paymentMethodTitle {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
  padding-top: 50px;
}

.DonationPayment .donorInfoContent {
  display: flex;
  flex-direction: row;
  gap: 200px;
  font-size: 16px;
  font-weight: 400;
}

.DonationPayment .donorInfoContent .donorInfoLeft,
.DonationPayment .donorInfoContent .donorInfoRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.DonationPayment .donationPaymentRight {
  padding-top: 50px;
}

.DonationPayment .paymentMethodList .PaymentMethod {
  margin-right: 8px;
}
