.DonationPayment {
  display: flex;
  flex-direction: column;
  padding: 0px 60px;
  align-items: center;
}

.DonationPayment .donationPaymentContent {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.DonationPayment .title {
  font-size: 23px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
}

.DonationPayment .donorInfo .KeyValueInfo {
  padding-bottom: 20px;
  gap: 300px;
}

.DonationPayment .paymentMethodTitle,
.DonationPayment .donorInfoTitle {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.DonationPayment .donationPaymentContent .donationPaymentRight {
  padding-top: 50px;
}

.DonationPayment .paymentMethodList .PaymentMethod {
  margin-right: 8px;
}
