.donation-done {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donation-done__title {
  font-size: 23px;
  font-weight: 600;
  padding-top: 100px;

  width: 100%;
  text-align: center;
  align-items: center;
}

.donation-done__logo {
  width: 170px;
  height: 170px;
  padding: 30px 0px;
}

.donation-done__result {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  font-size: 18px;
  gap: 20px;
}

.donation-done__button {
  width: 120px;
  height: 50px;
  border-radius: 5px;
}

.donation-done__navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 80px;
}
