.DonationSecondStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DonationSecondStep .DonationSecondStepText {
  display: flex;
  flex-direction: row;
  padding-top: 180px;
  font-size: 18px;
}

.DonationSecondStep input {
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 3px 10px;
}

.DonationSecondStep .personnel {
  width: 40px;
}

.DonationSecondStep .amount {
  width: 80px;
  margin-left: 12px;
}

.DonationSecondStep .amountResult {
  padding-top: 40px;
  font-size: 18px;
}

.DonationSecondStep .amountResult .perPersonAmount {
  background-color: rgb(254, 170, 1, 0.7);
}

.DonationSecondStep .explanation {
  padding-top: 35px;
  font-size: 14px;
}

.DonationSecondStep .pageNavigationButtons {
  display: flex;
  gap: 10px;
  padding: 140px 0px;
}

.DonationSecondStep .ColoredButton {
  width: 120px;
  height: 50px;
  border-radius: 5px;
}
